---
import App from '../App.vue';
import config from '../config.json';
import profile from '../profile.json';

import { getCollection } from 'astro:content';
import Hero from '../components/Hero.astro';
import heroMd from '../hero.md?raw';

const ghUsername = GITHUB_ACTOR || 'your_username';

let siteTitle = '';
if (config.siteTitle === undefined) siteTitle = "{username}'s Sites";
else siteTitle = config.siteTitle;
siteTitle = siteTitle.replace(/\{username\}/g, ghUsername);

const description = `List of ${ghUsername}'s GitHub projects`;

const projects = await getCollection('projects');
const projectPages = projects.map(p => p.slug) as string[];
---

<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{siteTitle}</title>
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="og:title" content={siteTitle} />
  </head>
  <body class="bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
    <div id="app">
      <App client:load config={config} profile={profile} ghUsername={ghUsername} projectPages={projectPages}>
        <Hero slot="hero" source={heroMd} />
      </App>
    </div>
  </body>
</html>
